html, body{
   padding: 0;
   margin: 0;
   width: 100vw;
   height: 100vh;
   background-color: #FFF;
   display: flex;
   justify-content: center;
   align-items: center;
   align-content: center;
}

canvas{
   display: block;
   margin: auto;
   padding-left: 0;
}

svg {
    display: none;
}